.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  width: 1440px;
  height: 72px;
  background: var(--inputs);
}

.logo {
  padding: 24px 0;
}

.icon {
  background: transparent;
  fill: none;
  stroke: currentColor;
}
