.wrapperReviews {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  color: var(--main);
}

.star {
  fill: var(--rating);
  margin-right: 4px;
}

.cardReviews {
  margin-right: 16px;
  color: var(--main);

  &:hover {
    text-decoration: underline;
  }
}

.map {
  margin-right: 4px;
}
