* {
  box-sizing: border-box;
  font-family: var(--font-family);
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
  border: none;
}
body {
  margin: 0;
}
input:focus,
input:focus-visible,
input:active {
  outline: none;
}

p {
  margin: 0;
}
