.container {
  display: flex;
  padding: 48px 64px;
  justify-content: space-between;
  padding-top: 120px;
}

.catalog {
  text-align: center;
}

.listCards {
  margin-bottom: 40px;
}

.btn {
  border: 1px solid var(--gray-light);

  width: 145px;

  color: var(--main);

  background: none;

  &:hover {
    background: none;
    border-color: var(--button-hover);
  }
}
